{% extends 'base.html.twig' %}

{% block title %}Add Contact{% endblock %}

{% block body %}
    <h1>Create new Contact</h1>

    {{ include('contact/_form.html.twig') }}
    <br/>
    <a class="btn btn-primary" href="{{ path('contact_index') }}">Home</a>
{% endblock %}